@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

:root{
    --blue:#3c6382;
    --dark-blue:#0a3d62;
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border:none;
    text-transform: capitalize;
    transition: all .3s cubic-bezier(.38,1.15,.7,1.12);
}
*::selection{
    background:var(--dark-blue);
    color:#fff;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
section{
    min-height: 100vh;
    padding:0rem 9%;
    padding-top: 8rem;
}
.heading{
    text-align: center;
    color:var(--blue);
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: normal;
    padding:1rem;
}
header{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    padding:2rem;
}
header .logo{
    font-size: 2.5rem;
    color:var(--dark-blue);
}
header .logo span{
    color:var(--blue);
}

header .navbar a{
    font-size: 1.7rem;
    margin-left: .7rem;
    padding:.5rem 2rem;
    border-radius: .5rem;
    color:var(--dark-blue);
}
header .navbar a.active,
header .navbar a:hover{
    background: var(--blue);
    color:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header.sticky{
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
#menu{
    font-size: 3rem;
    color:var(--blue);
    cursor: pointer;
    display: none;
}


/* start */
.symptomstt{
    background:url(../images/background-img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.symptomstt .symContent{
    color: var(--dark-blue);
    font-size: 1.4rem;
    padding: 1rem;
}
.imgDTU{
    position: relative;
    width: 50%;
    max-width: 300px;
}
.img{
    display: block;
    width: 800px;
    height: 500px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.titleDTU{
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 800px;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
.imgDTU:hover .titleDTU{
    opacity: 1;
}

.sidenav{
	/* background: white; */
	position: absolute;
	height: 100%;
	width: 18%;
	top: 0;
	left: 0;
	z-index: 1;
	overflow-x: hidden;
	padding-top: 20px;
    margin-top: 95px;
}
.sidenav a{
	color: black;
	padding: 10px 15px 10px 16px;
	text-decoration: none;
	font-size: 20px;
	display: block;
}
.sidenav a:hover{
	color: red;
}
h2{
	padding: 10px 15px 10px 16px;
	color: rgb(10, 10, 10);
	border-bottom-style: solid;
    font-size: 20px;
}
.main{
	margin-left: 170px;
	padding: 4px 10px;
	color: black;
	display: inline-block;
}

.content{
    width: 80%;
    margin-bottom: 100px;
}




/* start */
.titleDN{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: left;
    font-family: tahoma, geneva, sans-serif;
}
.imgDN{
    width: 800px;
    margin-bottom: 10px;
}
.titleImg{
    margin-left: 25%;
    margin-right: 22%;
    font-size: 14px;
    text-align: center;
    color: #333;
    font-family: tahoma,geneva,sans-serif;
}
/* end */













.number{
    position: absolute;
    z-index: 99;
	width: 20%;
	top: 0;
	left: 0;
	padding-top: 20px;
    margin-top: 100px;
    margin-left: 1200px;
}
.titleNumber{
    color: white;
    width: 60%;
    height: 30px;
    text-align: center;
    padding: 5px 10px;
    font-size: 15px;
    background: #d63031;
}

.mainContent{
    margin-top: 10px;
    font-size: 15px;
    justify-content: center;
}

.tag{
    font-size: 15px;
    color: #d63031;
    margin-top: 20px;
    cursor: pointer;
    padding: 10px;
}

.tag a{
    color: black;
    margin-left: 5px;
}
.tag a:hover{
    color: brown;
}

.news{
    margin-top: 20px;
    font-family: 'Roboto Condensed',Tahoma;
    font-size: 14px;
    /* color: #c0392b; */
}
.newsTitle{
    margin-top: 20px;
    margin: 20px 0;
    border-bottom: 1px solid #b2bec3;
}
.fa-star{
    color: #d63031;
}
/* end thongtin.html */



/* start of footer */
.footer{
    background:url(../images/background-img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
}
.footer .box-container .box{
    flex:1 1 25rem;
    margin:2rem;
}
.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--blue);
    padding:1rem 0;
}
.footer .box-container .box p{
    font-size: 1.5rem;
    color:var(--dark-blue);
    padding:.5rem 0;
}
.footer .box-container .box a{
    font-size: 1.5rem;
    color:var(--dark-blue);
    padding:.5rem 0;
    display: block;
}
.footer a:hover{
    text-decoration: underline;
}
.footer .credit{
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    padding:2.5rem 1rem;
    color:var(--dark-blue);
}
.footer .credit a{
    color:var(--blue);
}
/* end of footer */






.scroll-top{
    position: fixed;
    bottom:7.5rem; right:1.5rem;
    z-index: 1000;
}

.scroll-top img{
    width:8rem;
    animation: float 3s linear infinite;
}

@keyframes float{
    100%, 0%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-3rem);
    }
}





/* media queries  */

@media (max-width:1200px){

    html{
        font-size: 55%;
    }

}

@media (max-width:991px){

    section{
        padding:1rem 3%;
        padding-top: 8rem;
    }

    #menu{
        display: block;
    }

    header .navbar{
        position: absolute;
        top:100%; left: 0;
        width:100%;
        background:#fff;
        padding:2rem;
        border-top: .1rem  solid rgba(0,0,0,.1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
    }

    header .navbar.nav-toggle{
        transform: scaleY(1);
        opacity: 1;
    }

    header .navbar a{
        display: block;
        margin:1.5rem 0;
        font-size: 2rem;
    }

    .fa-times{
        transform: rotate(180deg);
    }

    .symptoms .column .main-image img{
        display: none;
    }

    .hand-wash .column .main-image img{
        display: none;
    }

}

@media (max-width:768px){

    html{
        font-size: 50%;
    }

    .home .content h1{
        font-size: 4rem;
    }

    .home .content h3{
        font-size: 3.5rem;
    }

}


@media screen and (max-width: 600px)
{
	.sidenav{
		padding-top: 15px;
		width: 155px;

	}
	.sidenav a{
		padding-left: 20px;
		font-size: 18px;
	}
	.main{
		margin-left: 32%;
		font-size: 15px;
	}
	p{
		display: inline-block;
	}
}

@media (max-width:450px){

    .home .content h1{
        font-size: 3.5rem;
    }

    .home .content h3{
        font-size: 2.5rem;
    }

    .symptoms .column .box-container .box img{
        width:14rem;
    }

    .precautions .column .box-container .box{
        flex-flow: column;
        text-align: center;
    }

    .doctor .box-container .box{
        width:100%;
    }

}