@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

:root{
    --blue:#3c6382;
    --dark-blue:#0a3d62;
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border:none;
    text-transform: capitalize;
    transition: all .3s cubic-bezier(.38,1.15,.7,1.12);
}

*::selection{
    background:var(--dark-blue);
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

section{
    min-height: 100vh;
    padding:1rem 9%;
    padding-top: 8rem;
}

.heading{
    text-align: center;
    color:var(--blue);
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: normal;
    padding:1rem;
}

header{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    padding:2rem;
    background-color: white;
}

header .logo{
    font-size: 2.5rem;
    color:var(--dark-blue);
}

header .logo span{
    color:var(--blue);
}

header .navbar a{
    font-size: 1.7rem;
    margin-left: .7rem;
    padding:.5rem 2rem;
    border-radius: .5rem;
    color:var(--dark-blue);
}

header .navbar a.active,
header .navbar a:hover{
    background: var(--blue);
    color:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    text-decoration: none;
}

header.sticky{
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

#menu{
    font-size: 3rem;
    color:var(--blue);
    cursor: pointer;
    display: none;
}

.home{
    margin-top: 45px;
    background:url(./images/bgHome.jpg);
    background-size: cover;
}

.home .content{
    text-align: center;
    padding-top: 3rem;
}

.home .content h1{
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin-left: -800px;
}

.home .content h3{
    font-size: 3rem;
    color:var(--blue);
    font-weight: normal;
    margin-left: -800px;
}

.home .content .btn{
    display: inline-block;
    padding:.7rem 3rem;
    color:#fff;
    background:var(--blue);
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    margin-top: 1rem;
    font-size: 1.7rem;
    margin-left: -800px;
}

.slide{
    margin-left: 340px;
    margin-top: -350px;
    position: absolute;
    z-index: 999999999;
}
.slide .card-img-top{
    width: 180px;
    height: 180px;
    margin: 20px;
}
.card{
    cursor: pointer;
    margin: 10px;
}
.titleTin, .card-title{
    color: black;
    white-space: nowrap; 
    width: 200px; 
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
}
.titleTin:hover{
    text-decoration: none;
    color: red;
}
.card-text{
    color: black;
    white-space: nowrap; 
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px;
}

.intro{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 120px;
    background: #EDEDED;
}
.introImg{
    margin-top: 10px;
    margin-left: 190px;
    width: 215px;
    
}
.introImg1{
    margin-top: 10px;
    width: 194px;
    margin-left: 20px;
}
.trangchu{
    width: 1080px;
    height: 350px;
    margin-top: 100px;
    margin-left: 50px;
    background-image: url(./images/background-img.jpg);
}
.trangchu .imgHome{
    width: 280px;
    height: 300px;
    margin-top: 10px;
    margin-left: -750px;
}

.home .content .btn:hover{
    background:var(--dark-blue);
}

.doctor{
    width: 100%;
    background-color: red;
}
.imgLeft{
    margin-top: -85px;
    margin-left: -20px;
}
.imgL{
    margin-top: 5px;
    width: 222px;
    border: 3px solid white;
}
.imgRight{
    background-image: url(./images/background-img.jpg);
    width: 600px;
    height: 850px;
    margin-top: -80px;
    margin-left: 60px;
}
.imgR{
    margin-top: 10px;
    width: 350px;
    height: 300px;
    border: 3px solid black;
}
.titleR{
    margin-top: 10px;
}
.titleRR{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: justify;
}
.contentRR{
    text-align: justify;
    margin-top: 15px;
    font-size: 15px;
}
.content1, .content2, .content3,
.content4, .content5, .content6{
    border-bottom: 1px solid black;
}
.content1{
    margin-top: 75px;
}
.allContent{
    background: var(--dark-blue);
    margin-top: -80px;
    height: 850px;
}
.content1 .title1 a{
    color: white;
}
.content2 .title2 a{
    color: white;
}
.content3 .title3 a{
    color: white;
}
.content4 .title4 a{
    color: white;
}
.content5 .title5 a{
    color: white;
}
.content6 .title6 a{
    color: white;
}
.content7 .title7 a{
    color: white;
}
.content8 .title8 a{
    color: white;
}


.img1 {
    margin-top: -70px;
    margin-left: 5px;
    width: 120px;
    height: 80px;
    border: 4px solid white;
}
.title1{
    margin-left: -15px;
    margin-top: -65px;
    color: black;
    width: 300px;
    font-size: 10px;
}
.img2{
    margin-top: 10px;
    margin-left: 5px;
    width: 120px;
    height: 80px;
    border: 4px solid white;
}
.title2{
    margin-left: -15px;
    margin-top: 13px;
    color: black;
    width: 300px;
    font-size: 10px;
}
.img3{
    margin-top: 10px;
    margin-left: 5px;
    width: 120px;
    height: 80px;
    border: 4px solid white;
}
.title3{
    margin-left: -15px;
    margin-top: 13px;
    color: black;
    width: 300px;
    font-size: 10px;
}
.img4{
    margin-top: 10px;
    margin-left: 5px;
    width: 120px;
    height: 80px;
    border: 4px solid white;
}
.title4{
    margin-left: -15px;
    margin-top: 13px;
    color: black;
    width: 300px;
    font-size: 10px;
}
.img5{
    margin-top: 10px;
    margin-left: 5px;
    width: 120px;
    height: 80px;
    border: 4px solid white;
}
.title5{
    margin-left: -15px;
    margin-top: 13px;
    color: black;
    width: 300px;
    font-size: 10px;
}
.img6{
    margin-top: 10px;
    margin-left: 5px;
    width: 120px;
    height: 80px;
    border: 4px solid white;
}
.title6{
    margin-left: -15px;
    margin-top: 13px;
    color: black;
    width: 300px;
    font-size: 10px;
}

.img7{
    margin-top: 10px;
    margin-left: 5px;
    width: 120px;
    height: 80px;
    border: 4px solid white;
}
.title7{
    margin-left: -15px;
    margin-top: 13px;
    color: black;
    width: 300px;
    font-size: 10px;
}
.img8{
    margin-top: 10px;
    margin-left: 5px;
    width: 120px;
    height: 80px;
    border: 4px solid white;
}
.title8{
    margin-left: -15px;
    margin-top: 13px;
    color: black;
    width: 300px;
    font-size: 10px;
}




.graybb{
    margin-top: 20px;
    margin-bottom: 50px;
    position: relative;
}
.column {
    float: left;
    width: 33.33%;
    padding: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: white;
    transition: transform .2s;
}
.column:hover{
    transform: scale(1.2); 
}
  
.containerTab {
    padding: 20px;
    color: white;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
.closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
}




.footer{
    background:url(../images/background-img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex:1 1 25rem;
    margin:2rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--blue);
    padding:1rem 0;
}

.footer .box-container .box p{
    font-size: 1.5rem;
    color:var(--dark-blue);
    padding:.5rem 0;
}

.footer .box-container .box a{
    font-size: 1.5rem;
    color:var(--dark-blue);
    padding:.5rem 0;
    display: block;
}

.footer a:hover{
    text-decoration: underline;
}

.footer .credit{
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    padding:2.5rem 1rem;
    color:var(--dark-blue);
}

.footer .credit a{
    color:var(--blue);
}

.scroll-top{
    position: fixed;
    bottom:7.5rem; right:1.5rem;
    z-index: 1000;
}

.scroll-top img{
    width:8rem;
    animation: float 3s linear infinite;
}

@keyframes float{
    100%, 0%{
        transform: translateY(0rem);
    }

    50%{
        transform: translateY(-3rem);
    }

}






/* media queries  */

@media (max-width:1200px){

    html{
        font-size: 55%;
    }

}

@media (max-width:991px){

    section{
        padding:1rem 3%;
        padding-top: 8rem;
    }

    #menu{
        display: block;
    }

    header .navbar{
        position: absolute;
        top:100%; left: 0;
        width:100%;
        background:#fff;
        padding:2rem;
        border-top: .1rem  solid rgba(0,0,0,.1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
    }

    header .navbar.nav-toggle{
        transform: scaleY(1);
        opacity: 1;
    }

    header .navbar a{
        display: block;
        margin:1.5rem 0;
        font-size: 2rem;
    }

    .fa-times{
        transform: rotate(180deg);
    }

    .symptoms .column .main-image img{
        display: none;
    }

    .hand-wash .column .main-image img{
        display: none;
    }

}

@media (max-width:768px){

    html{
        font-size: 50%;
    }

    .home .content h1{
        font-size: 4rem;
    }

    .home .content h3{
        font-size: 3.5rem;
    }

}

@media (max-width:450px){

    .home .content h1{
        font-size: 3.5rem;
    }

    .home .content h3{
        font-size: 2.5rem;
    }

    .symptoms .column .box-container .box img{
        width:14rem;
    }

    .precautions .column .box-container .box{
        flex-flow: column;
        text-align: center;
    }

    .doctor .box-container .box{
        width:100%;
    }

}
